:root {
  --primary-color: #66bfbf;
  --secondary-color: #eaf6f6;
  --third-color: #6c63ff;
  --fourth-color: #f76b8a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  border-top: 70px solid #eaf6f6;
  border-left: 30px solid #eaf6f6;
  border-right: 30px solid #eaf6f6;
  border-bottom: 30px solid #eaf6f6;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 96px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
nav {
  background: #eaf6f6;
}

.about-h1 {
  margin-top: 100px;
}
.icon-hi {
  margin-top: 100px;
}
.projects-h1 {
  margin-top: 100px;
}
.h2-contact {
  margin-top: 100px;
  font-size: 40px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  color: #66bfbf;
  text-decoration: none;
  border: 1px solid #f76b8a;
  padding: 10px 20px;
  border-radius: 30px;
}
.contact-link:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: none;
}
.img-section {
  padding: 0 80px;
  text-align: center;
}

.img-section img {
  margin: 20px 0 40px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}
.about-photo {
  max-width: 300px;
  border-radius: 100%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.icon-img {
  width: 80px;
  margin: 0 30px;
  padding: 0 10px;
}

.projects-link {
  color: #f76b8a;
  text-decoration: none;
}
.certificate-img {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.footer-paragraf {
  font-size: 12px;
  background: #eaf6f6;
  border: none;
}
.email-link {
  display: flex;
  justify-content: center;

  font-size: 28px;
  text-decoration: none;
}
.fa-brands {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  color: var(--fourth-color);
  border: 1px solid var(--primary-color);
}
.email-link:hover {
  text-decoration: underline;
}
.introduction {
  border: 1px;
  border-radius: 30px;
  padding: 5px 15px;
  background: linear-gradient(
    179.4deg,
    rgb(146, 221, 219) 31.2%,
    rgb(236, 167, 219) 90.9%
  );
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: block;
  margin: auto;
  text-align: center;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

@media (max-width: 900px) {
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    text-align: center;
  }

  .mt-5 {
    display: block;
    margin: auto;
    text-align: center;
  }

  .container img {
    display: none;
  }
}
